@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSansBold.eot');
	src: local('OpenSans Bold'), local('OpenSansBold'), local('OpenSans-Bold'),
		url('../fonts/OpenSansBold.woff2') format('woff2'),
		url('../fonts/OpenSansBold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

/* RESET CSS */

* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 16px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

nav,
footer,
header,
aside {
  display: block;
}

img,
picture {
  max-width: 100%;
  display: block;
}

ul li,
ol li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size:inherit;
	font-weight: 400;
}

a:focus,
a:active {
  outline: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

fieldset {
	padding: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding:0;border:0;
}

:focus,
:active {
  outline: none;
}

/* COMMON STYLES */

:root {
	--color-white: #fff;
	--color-green: #1c945d;
	--color-green-active: #20A86B;
	--color-orange: #E15433;
	--color-background-body: #0b172a;
	--color-background-elements: #212d3e;
	--color-font-main: #7A8F99;
	--color-border-button: #D8E1E6;
	--border-radius-common: 4px;
}

body {
	height: 100vh;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: var(	--color-font-main);
	background-color: var(--color-background-body);
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
	max-width: 1240px;
	margin: 0 auto;
}

.common-button {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	color: var(--color-white);
}

.border-radius-common {
	border-radius: var(--border-radius-common);
}

input:not([type=checkbox]) {
	cursor: pointer;
}

label {
	font-size: 12px;
	line-height: 16px;
}

:focus {
	outline: 2px solid var(--color-green);
	outline-offset: 5px;
}

/* HEADER */

.header {
	padding-top: 16px;
	padding-bottom: 16px;
}

.header__container {
	display: flex;
	justify-content: space-between;
}

.header__logo {
	margin-top: auto;
	margin-bottom: auto;
	width: 140px;
	height: 16px;
	background-color:var(--color-white);
}

.header__button {
	padding: 7px 17.7px 7px 47.3px;
	background-color: inherit;
	background-image: url('../img/icon/user.svg');
	background-position: 16px center;
	background-size: 24px 24px;
	background-repeat: no-repeat;
	border: 1px solid var(--color-border-button);
}

/* MAIN */

.main__container {
	display: flex;
	justify-content: space-between;
	margin-right: 0;
	max-width: 1340px;
}

.main__section {
	max-width: 440px;
}

.main__title {
	margin-bottom: 24px;
	font-family: 'OpenSans', sans-serif;
	font-weight: 700;
	font-size: 36px;
	line-height: 48px;
	color: var(--color-white);
	letter-spacing: 2px;
}

.main__list {
	margin-bottom: 48px;
}

.advantage-list__item {
	padding-left: 40px;
	line-height: 24px;
	background-image: url('../img/icon/check.png');
	background-position: 2px 5px;
	background-size: 18px 14px;
	background-repeat: no-repeat;
}

.advantage-list__item:not(:last-child) {
	margin-bottom: 16px;
}

.advantage-list__item:last-child {
	white-space: nowrap;
}

.bigres__title,
.bigres__list {
	display: none;
}

/* FORM */

.registration__list {
	margin-bottom: 24px;
}

.registration__item {
	position: relative;
}

.registration__item:not(:last-child) {
	margin-bottom: 16px;
}

.registration__label {
	position: absolute;
	left: 24px;
	top: 50%;
	font-size: 16px;
	line-height: 24px;
	transform: translateY(-50%);
	transition: 0.2s ease all;
  pointer-events: none;
}

.registration__input {
	padding: 32px 24px 8px 24px;
	width: 100%;
	height: 64px;
	line-height: 24px;
	color: var(--color-white);
	background-color: var(--color-background-elements);
}

.registration__input:focus {
	outline: none;
	outline-offset: 0;
}

.registration__input:hover,
.registration__input:focus {
	border: 1px solid var(--color-green)
}

.registration__input:active {
	border: 1px solid var(--color-green-active)
}

.registration__input:focus ~ .registration__label,
.registration__input:not(:focus):valid ~ .registration__label {
  top: 20px;
  left: 24px;
  font-size: 12px;
	line-height: 16px;
  opacity: 1;
}

/* RADIO BUTTONS */

.radio-container {
	display: flex;
	justify-content: space-between;
	font-size: 0;
}

.radio-container__heading {
	max-width: 128px;
	font-size: 12px;
	line-height: 16px;
}

.radio-container__list {
	max-width: 294px;
	background-color: var(--color-background-elements);
}

.radio-container__item:focus{
	outline: none;
	outline-offset: 0;
}

.radio-container__item {
	display: inline-block;
	padding-top: 8px;
	padding-bottom: 8px;
	width: 98px;
	height: 32px;
	text-align: center;
	font-size: 16px;
	border: 1px solid var(--color-background-body);
	border-right-width: 0;
	cursor: pointer;
}

.radio-container__item:last-child {
	border-right-width: 1px;
}

.radio-container__item:hover,
.radio-container__item:focus {
	background-color:var(--color-background-body);
}

.radio-container__item-active{
	background-color:var(--color-background-body);
	border-color: var(--color-green);
}

.radio-container__item-active {
	border: 1px solid var(--color-green);
}

.radio-container__item-active + .radio-container__item {
	border-left-width: 0;
}

.radio-container__input {
	display: none;
}

/* CHECKBOX */

.registration__container {
	position: relative;
	display: flex;
	justify-content: space-between;
}

.registration__checkbox-custom {
	width: 32px;
	height: 32px;
	background-color: var(--color-background-elements);
}

.registration__checkbox-custom:focus {
	outline: none;
	outline-offset: 0;
}

.registration__checkbox-custom:hover,
.registration__checkbox-custom:focus {
	border: 1px solid var(--color-green);
}

.registration__checkbox-custom-active {
	background-image: url('../img/icon/check.png');
	background-position: center;
	background-size: 18px 14px;
	background-repeat: no-repeat;
}

.registration__accept {
	max-width: 392px;
}

/* REGISTRATION BUTTON */

.registration__button {
	margin-top: 32px;
	padding-top: 16px;
	padding-bottom: 16px;
	width: 100%;
	background-color: var(--color-green);
}

.registration__button:active {
	background-color: var(--color-green-active);
}

/* VALIDATION ERRORS */

.error-common {
	line-height: 24px;
	color: white;
	background-color: var(--color-orange);
}

.error-container {
	position: absolute;
	left: 50%;
	margin-left: -140px;
	transform: translateY(-130%);
}

.error {
	display: none;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	padding-top: 8px;
	padding-bottom: 8px;
	width: 280px;
	text-align: center;
}

.error::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-bottom: -7px;
	margin-left: -7px;
	width: 0;
	height: 0;
	border: 8px solid transparent;
	border-bottom: 0;
	border-top-color: var(--color-orange);
}

.registration__input-invalid {
	border: 1px solid var(--color-orange);
}

.error-on {
	display: block;
}

.registration__error {
	display: none;
	margin-top: 24px;
	padding: 8px 24px 8px 64px;
	width: 100%;
	background-image: url('../img/icon/attention.png');
	background-position: 24px center;
	background-size: 17px 17px;
	background-repeat: no-repeat;
}

.error-checkbox-container {
	left: 140px;
}

.error-checkbox::after {
	left: 16px;
}

.registration__error-on  {
	display: block;
}

.registration__button-error {
	margin-top: 16px;
}

.background {
	margin-top: 16px;
	width: 808px;
	height: 613px;
	background-image: url('../img/pic/iphone.png'), url('../img/pic/macbook.png');
	background-position: bottom left, bottom right;
	background-size: 245px 482px, 794px 613px;
	background-repeat: no-repeat, no-repeat;
}

/* MEDIA < 1440 */

@media (max-width: 1439px) {

	html,
	body {
		line-height: 1;
	}

	.container {
		max-width: 86.1%;
	}

	/* MAIN < 1440 */

	.main__container {
		max-width: 93.05%;
	}

	.main__section {
		max-width: 310px;
		margin-right: 20px;
	}

	.main__title {
		margin-bottom: 30px;
		font-size: 28px;
		line-height: 40px;
	}

	.main__list {
		margin-bottom: 28px;
	}

	.advantage-list__item {
		line-height: 1.2;
	}

	.advantage-list__item:not(:last-child) {
		margin-bottom: 16px;
	}

	.advantage-list__item:last-child {
		white-space: initial;
	}

	/* FORM < 1440 */

	.registration__list {
		margin-bottom: 20px;
	}

	.registration__item:not(:last-child) {
		margin-bottom: 18px;
	}

	/* RADIO BUTTONS < 1440 */

	.radio-container__list {
		max-width: 100%;
	}

	.radio-container {
		flex-direction: column	;
	}

	.radio-container__heading {
		max-width: 100%;
	}

	.radio-container__item {
		width: 33.333%;
	}

	/* CHECKBOX < 1440 */

	.registration__accept {
		max-width: calc(100% - 42px);
		font-size: 12px;
		line-height: 1.2;
	}

	/* REGISTRATION BUTTON < 1440 */

	.registration__button {
		margin-top: 20px;
	}

	.background {
		margin-top: auto;
		margin-bottom: auto;
		background-size: 245px 78%, 98% 100%;
	}
}

/* MEDIA < 1024 */

@media (max-width: 1023px) {

	.container {
		max-width: 100%;
		padding-right: 120px;
		padding-left: 120px;
	}

	.main__container {
		margin-right: 0;
		background-image: url('../img/pic/iphone.png');
		background-position: 80% 40%;
		background-size: 245px 482px;
		background-repeat: no-repeat;
	}

	.main__section {
		margin-right: auto;
		max-width: 400px;
	}

	.main__title {
		text-align: center;
	}

	.background {
		display: none;
	}
}

/* MEDIA < 930 */

@media (max-width: 930px) {

	.main__container {
		background-image: unset;
	}

	.main__section {
		margin-left	: auto;
	}
}

/* MEDIA < 600 */

@media (max-width: 600px) {

	.container {
		padding-right: 20px;
		padding-left: 20px;
	}
}

/* MEDIA < 320 */

@media (max-width: 320px) {

	.header__button {
		padding: 7px 12.7px 7px 33.3px;
		background-position: 4px center;
	}
}

/* MEDIA > 1440 */

@media (min-width: 1441px) {

	html,
	body {
		font-size: 20px;
	}

	.container {
		max-width: 80%;
	}

	/* HEADER >1440 */

	.header {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.header__logo {
		width: 400px;
		height: 45px;
	}

	/* MAIN >1440 */

	.main__container {
		max-width: 90%;
	}

	.main__section {
		margin: auto;
	}

	.main__title {
		margin-bottom: 50px;
		font-size: 42px;
		line-height: 52px;
	}

	.main__list {
		margin-bottom: 68px;
	}

	.advantage-list__item {
		line-height: 30px;
	}

	.advantage-list__item:not(:last-child) {
		margin-bottom: 20px;
	}

	.advantage-list__item:last-child {
		white-space: initial;
	}

	/* FORM >1440 */

	.registration__list {
		margin-bottom: 30px;
	}

	.registration__item:not(:last-child) {
		margin-bottom: 25px;
	}

	/* RADIO BUTTONS >1440 */

	.radio-container__heading {
		font-size: 14px;
		line-height: 1;
	}

	.registration__accept {
		font-size: 14px;
	}

	/* REGISTRATION BUTTON >1440 */

	.registration__button {
		margin-top: 40px;
	}

	.background {
		margin: auto;
		margin-right: 0;
	}
}

/* MEDIA > 3400 */

@media (min-width: 3400px) {
	.main__container {
		display: flex;
		justify-content: space-between;
		margin-top: 200px;
	}

	.main__title,
	.main__list {
		display: none;
	}

	.bigres__title,
	.bigres__list {
		display: block;
	}

	.main__section {
		margin: 0;
	}

	.main__section,
	.main__title,
	.main__list {
		margin-top: auto;
		margin-bottom: auto;
	}

	.main__title {
		font-size: 50px;
		line-height: 1.2;
	}

	.main__list {
		margin-right: auto;
		margin-left: auto;
		font-size: 30px;
		line-height: 1.2;
	}

	.main__list,
	.main__title {
		max-width: 440px;
	}
}


